@media screen and (max-width: 768px){
    body{
        margin: 0;
        padding: 0;
    }

    p{
        font-size: 20px;
        color: rgb(95, 50, 50);
        margin-left: 2em;
        margin-right: 2em;
        padding-bottom: 1em;

    }

    #nav-bar ul li {
        padding: 3px;
        text-transform: uppercase;
    }


    #container {
        width: 100vw;
        box-sizing: border-box;
        display: inline;
        text-align: center;
        align-items: center;
        
    }
    
    #contact-top-link a {
        font-size: 14px;
        display: inline-block;
        
    }

    .skills-image {
        width: 5%;
        margin: 20px 3px;
        display: inline;
        padding: 3px;
    }

    .contact-links-bottom a {
        padding: 2px 2px;
        font-size: 20px;
        margin: 50px 8px 8px 8px;
        float: right;
    }

    .copyright-text {
        text-align: center;
        margin-left: 1em;
        font-size: 13px;
    }


    input {
        font-size: 16px;
        text-align: center;
    }

    textarea {
        font-size: 16px;
    
    }
   
    #name , #email {
        width: 50%;
        margin: 0rem 0rem 0rem 5rem;
        font-size: 14px;
    }

    #email-body {
        width: 50%;
        margin: 0px 0px 0px 5rem;
        font-size: 14px;
        min-height: 150px;
    }

    #btn-submit {
        width: 15rem;
        margin-left: 5rem;
        
    }   

}

/*
@media screen {
    p {
        font-size: 20px;
        margin-left: 1.5em;
        margin-right: 1.5em;
        padding-bottom: 1em;
    }

    #name, #email, #email-body {
        width: 50%;

    }

    #btn-submit {
        width: 15rem;
        margin-left: 25rem;
        
    }   

}
*/ 